@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Spectral:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

$Font-Karla: 'Karla', sans-serif;
$Font-Spectral: 'Spectral', serif;
$Font-size: 18px;
$header-font-size: 24px;

$White-Text-Colour: #f9f8f6;
$Black-Text-Colour: #231F20;
$Green-Background-Colour: #073630;
$Dark-Cream-Additional: #eee1d8;
$Light-Cream-Additional: #F9F4F1;

$theme-colors: (
  "primary": $Green-Background-Colour
);

* {
  font: $Font-size $Font-Karla;
}

h1 {
  font-family: $Font-Spectral;
  color: $White-Text-Colour;
}

h2 {
  font-family: $Font-Spectral;
  color: $White-Text-Colour;
}

.font-color-black{ 
  color: $Black-Text-Colour; 
}

.font-color-white {
  color: $White-Text-Colour;
}

.font-karla{
  font-family: $Font-Karla;
}

.font-spectral{
  font-family: $Font-Spectral;
}

.navbar {
  background-color: $Green-Background-Colour;
  color: $White-Text-Colour;
}

.navbar-links {
  background-color: $White-Text-Colour;
  padding: 0.25rem 1rem;
  a {
    color: $Black-Text-Colour !important;
  }
}

.navbar-light .navbar-nav .nav-link {
  font-family: $Font-Spectral;
  color: $White-Text-Colour !important;
}

.link {
  text-decoration: underline;
}

a {
  color: $Black-Text-Colour
}

@media (min-width: 1200px) {
  .container {
    max-width: 75% !important;
  }
}

.multiselect {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.multiselect__tag {
  background: $Green-Background-Colour !important;
}

.multiselect__option--highlight, .multiselect__option--highlight::after {
  background: $Green-Background-Colour !important;
}

.chat-window {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: scroll;
}

.chat-message-left,
.chat-message-right {
  display: flex;
  flex-shrink: 0
}

.chat-message-left {
  margin-top: 10px;
  padding: 10px;
  margin-right: auto;
  background-color: $Green-Background-Colour;
  color: $White-Text-Colour;
  border-radius: 5px;
  width: 50%;
  .time-sent {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: 12px;
    width: 25%;
    margin-left: auto;
  }

  .message {
    width: 75%;
    text-align: start;
    margin-right: 3px;
    word-break: break-all;
  }
}

.chat-message-right {
  margin-top: 10px;
  padding: 10px;
  flex-direction: row-reverse;
  margin-left: auto;
  background-color: lightgrey;
  color: $Black-Text-Colour;
  border-radius: 5px;
  width: 50%;
  .time-sent{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: 12px;
    margin-right: auto;
    width: 25%;
  }

  .message {
    width: 75%;
    text-align: end;
    margin-right: 3px;
    word-break: break-all;
  }
}

.word-break {
  word-break: break-all;
}

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import '~vue-multiselect/dist/vue-multiselect.min.css';